html {
  height: 100%; 
  padding: 20px; 
  background-color: #141E30; 

}
body {
  background-position: center; 
  background-repeat: no-repeat; 
  font-family: 'Noticia Text', serif;
  background-color: #141E30; 
}

.main-page {
  max-width: 1500px; 
  background-color: #243b55;
  box-shadow: 0 0 50px 10px #243b55;;
}

.font-1 {
  font-family: 'Bangers', cursive;
}

.font-2 {
  font-family: 'Pacifico', cursive;
}

.font-3 {
  font-family: 'Noticia Text', serif;
}
