html {
  height: 100%; 
}
body {
  background: url("./images/nyt-br.jpg"); 
  background-color: rgba(255, 255, 255, 0.5); 
  background-position: center; 
  background-repeat: no-repeat; 
  margin: 50px; 
}

.main-page {
  background-color:  rgba(255, 255, 255, 0.5); 
  max-width: 1500px; 
}

.font-1 {
  font-family: 'Bangers', cursive;
}

.font-2 {
  font-family: 'Pacifico', cursive;
}

.font-3 {
  font-family: 'Noticia Text', serif;
}

